.btn-margin {
  margin: 7px 3px;
}

.navbar-header{
  background-color:#9f9efa;

}
.navbar-default .navbar-brand{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(145, 145, 145);
}

.container-fluid{
  background-color: #9f9efa;
  border-bottom: 2px solid rgb(139, 139, 139);
  border-radius: 4px;
}

.text-force-right{

  /*position: relative;
  text-align: center;*/
  color: #474747;
  font-size: 110%;
  font-weight: 600;
  float: right;
  margin-top: 1%;
}

